.message-top
  %p.message-top__name name
  %p.message-top__date 2018/10/19/14:22
.message-bottom
  aaa
  %br/
  bbb
%img.image/
.message-top
%p.message-top__name name
%p.message-top__date 2018/10/19/14:32
.message-bottom
  ccc
  %br/
  ddd
%img.image/

