<div class='notification'>
  <p class='notice'>チャットグループが作成されました。</p>
</div>
<div class='wrapper'>
  <div class='sidebar'>
    <div class='header'>
      <p class='name'>takaba</p>
      <ul class='nav'>
        <li class='nav__list'>
          <a href='#'>
            <i class='fa fa-pencil-square-o icon'></i>
          </a>
        </li>
        <li class='nav__list'>
          <a href='#'>
            <i class='fa fa-cog icon'></i>
          </a>
        </li>
      </ul>
    </div>
    <div class='contents'>
      <div class='group'>
        <a href='#'>
          <p class='group__name'>takaba</p>
          <p class='group__message'>a long time no see</p>
        </a>
      </div>
      <div class='group'>
        <a href='#'>
          <p class='group__name'>takaba2</p>
          <p class='group__message'>Hello world!</p>
        </a>
      </div>
    </div>
  </div>
  <div class='main'>
    <div class='header'>
      <div class='left-header'>
        <p class='left-header__title'>takabaグループ</p>
        <ul class='left-header__members'>
          Member :
          <li class='member'>takaba</li>
        </ul>
      </div>
      <div class='right-header'>
        <a class='right-header__button' href='#'>
          Edit
        </a>
      </div>
    </div>
    <div class='contents'>
      <div class='message'>
        <div class='message__info'>
          <p class='name'>takaba</p>
          <p class='date'>2016/10/02 06:27:07</p>
        </div>
        <div class='message__content'>
          <p class='description'>なるほど</p>
        </div>
      </div>
      <div class='message'>
        <div class='message__info'>
          <p class='name'>satoh</p>
          <p class='date'>2016/10/02 06:27:07</p>
        </div>
        <div class='message__content'>
          <p class='description'>command Enterで送信したい感がある</p>
        </div>
      </div>
    </div>
    <div class='form'>
      <form action='#' class='js-form' method='post'>
        <input class='form__message' name='mssg' placeholder='type a message' type='text'>
        <div class='form__upload'>
          <label class='upload-label' for='upload-icon'>
            <i class='fa fa-picture-o icon'></i>
          </label>
        </div>
        <input class='form__submit' name='commit' type='submit' value='Send'>
      </form>
    </div>
  </div>
</div>
